.bg-default-image {
  background-image: url("/images/default.jpg");
  background-size: 100%;
  height: 280px;
  text-shadow: 2px 2px 8p #000;
}

.logo {
  text-shadow: 2px 2px navy;
  font-weight: bold;
}

.active {
  background-color: #1c1919;
}

.pointer {
  cursor: pointer;
}

/* ********************************** */
